.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://images.pexels.com/photos/20704817/pexels-photo-20704817/free-photo-of-g-anh-sang-d-ng-binh-minh.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://www.pexels.com/https://images.pexels.com/photos/9304998/pexels-photo-9304998.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1-vn/anh/tr-i-xanh-c-u-v-t-danh-lam-th-ng-c-nh-quan-di-m-9304998);
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(https://images.pexels.com/photos/25275676/pexels-photo-25275676/free-photo-of-tr-i-xanh-thanh-th-be-tong-c-u-v-t.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
